node_modules/
dist/
dist-*/
.env
.env.*
client/.env*
server/.env*
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs/
.DS_Store
*.swp
.idea/
.vscode/
coverage/
tmp/
*.local
/.vite
client/.vite/
client/dist/
server/*.local
public/uploads/
*.tsbuildinfo
